# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Build files
dist/
build/

# Temporary files
*.tmp
*.swp
*.bak
*.log
*.lock
*.cache

# MongoDB Runner-specific files
.mongod/
